* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bodyColor);
}

:root {
    --primaryColor: #6d28d9;
    --seconderyColor: #ede9fe;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #7c7c7c;
    --mainSpacing: #0.1rem;
    --mainTransitoin: all 0.3s linear;
    --mainRed: #db2777;
    --bodyColor: #f6f6f6;
}

header {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primaryColor);
    text-decoration:underline
    
    


}
form{
    display: flex;
width: 25rem;
background-color: aqua;
    
}
.form-contaner{
    display: flex;
   justify-content: space-between;
}
form>input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    direction: rtl;
    font-size: 20px;
}
form input:hover,input:focus{
    background-color: var(--seconderyColor);
}
.form-contaner{
    
    border-radius: 5px;
    overflow: hidden;
}
form button{
    width: 2.5rem;
    border:none ;
    padding: 8px;
    background-color: rgb(221, 116, 204);
    color: var(--primaryColor);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
form button:hover{
    background-color: var(--primaryColor);
    transition: all 1s ease-in-out;

    color: var(--mainWhite);
}
select{
    margin-left: 1rem;
    height: 100%;
    border: none;
text-align: center;
font-size: 15px;
font-weight: bold;
color: var(--primaryColor);
outline: none;

}
.select-todo{
    height: 36px;
    
}
.todo{
    background-color:rgb(226, 207, 248);

    width: 25rem;
    height: 2rem;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    
    
}
p{
    display: flex;
    align-items: center;
}
.todo i{
    background: #7c7c7c;
    height:100%;
    width: 2.3rem; 
font-size: 25px;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
color: var(--mainWhite);
cursor: pointer;
 
    
}
.todo-icon{
    display: flex;
    
    
}
.todo-icon :nth-child(1){
    color: red;
    background: rgb(200, 198, 238);
    margin-right: 2px;
}
.todo-icon :nth-child(2){
    color: rgb(16, 235, 16);
    background: rgb(200, 198, 238);
}
.todo-icon i:hover{
    background-color: var(--primaryColor);
    color: var(--mainWhite);
    transition: all 0.5s ease-in-out;
}

.todolist{

    width: 25rem;
    
    
}
li{
    padding: 1px;
    list-style: none;
}
.cumplid{
  background-color: red;
    opacity: 0.8;
}
.cumplid>p{
color: yellow;
    text-decoration:line-through;
    text-decoration-color:blue;

}


